@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Thin.eot');
    src: url('../fonts/Objectivity-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Thin.woff2') format('woff2'),
        url('../fonts/Objectivity-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ThinSlanted.eot');
    src: url('../fonts/Objectivity-ThinSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-ThinSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-ThinSlanted.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Thin.eot');
    src: url('../fonts/Objectivity-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Thin.woff2') format('woff2'),
        url('../fonts/Objectivity-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-SuperSlanted.eot');
    src: url('../fonts/Objectivity-SuperSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-SuperSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-SuperSlanted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ThinSlanted.eot');
    src: url('../fonts/Objectivity-ThinSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-ThinSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-ThinSlanted.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Light.eot');
    src: url('../fonts/Objectivity-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Light.woff2') format('woff2'),
        url('../fonts/Objectivity-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Super.eot');
    src: url('../fonts/Objectivity-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Super.woff2') format('woff2'),
        url('../fonts/Objectivity-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-MediumSlanted.eot');
    src: url('../fonts/Objectivity-MediumSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-MediumSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-MediumSlanted.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-RegularSlanted.eot');
    src: url('../fonts/Objectivity-RegularSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-RegularSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-RegularSlanted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Regular.eot');
    src: url('../fonts/Objectivity-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Regular.woff2') format('woff2'),
        url('../fonts/Objectivity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-RegularSlanted.eot');
    src: url('../fonts/Objectivity-RegularSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-RegularSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-RegularSlanted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-SuperSlanted.eot');
    src: url('../fonts/Objectivity-SuperSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-SuperSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-SuperSlanted.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Light.eot');
    src: url('../fonts/Objectivity-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Light.woff2') format('woff2'),
        url('../fonts/Objectivity-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Medium.eot');
    src: url('../fonts/Objectivity-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Medium.woff2') format('woff2'),
        url('../fonts/Objectivity-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-LightSlanted.eot');
    src: url('../fonts/Objectivity-LightSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-LightSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-LightSlanted.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-MediumSlanted.eot');
    src: url('../fonts/Objectivity-MediumSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-MediumSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-MediumSlanted.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Super.eot');
    src: url('../fonts/Objectivity-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Super.woff2') format('woff2'),
        url('../fonts/Objectivity-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-LightSlanted.eot');
    src: url('../fonts/Objectivity-LightSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-LightSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-LightSlanted.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Medium.eot');
    src: url('../fonts/Objectivity-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Medium.woff2') format('woff2'),
        url('../fonts/Objectivity-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Regular.eot');
    src: url('../fonts/Objectivity-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Regular.woff2') format('woff2'),
        url('../fonts/Objectivity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBoldSlanted.eot');
    src: url('../fonts/Objectivity-ExtraBoldSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-ExtraBoldSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-ExtraBoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BoldSlanted.eot');
    src: url('../fonts/Objectivity-BoldSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-BoldSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-BoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBoldSlanted.eot');
    src: url('../fonts/Objectivity-ExtraBoldSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-ExtraBoldSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-ExtraBoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Bold.eot');
    src: url('../fonts/Objectivity-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Bold.woff2') format('woff2'),
        url('../fonts/Objectivity-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Bold.eot');
    src: url('../fonts/Objectivity-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Bold.woff2') format('woff2'),
        url('../fonts/Objectivity-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBold.eot');
    src: url('../fonts/Objectivity-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-ExtraBold.woff2') format('woff2'),
        url('../fonts/Objectivity-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Black.eot');
    src: url('../fonts/Objectivity-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Black.woff2') format('woff2'),
        url('../fonts/Objectivity-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BoldSlanted.eot');
    src: url('../fonts/Objectivity-BoldSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-BoldSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-BoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-ExtraBold.eot');
    src: url('../fonts/Objectivity-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-ExtraBold.woff2') format('woff2'),
        url('../fonts/Objectivity-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BlackSlanted.eot');
    src: url('../fonts/Objectivity-BlackSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-BlackSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-BlackSlanted.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-BlackSlanted.eot');
    src: url('../fonts/Objectivity-BlackSlanted.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-BlackSlanted.woff2') format('woff2'),
        url('../fonts/Objectivity-BlackSlanted.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}