* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  font-size: 18px;
  /* , sans-serif; */
}
:root {
  --font: "Objectivity";
  --header-height: 0px;
  --black: #000000;
  --white: #ffffff;
  --primary: #07226c;
  --primary-100: #0b1f52;
  --secondary: #ff5252;
  --bg-color-1: #f4f7ff;
  --bg-color-2: #f8f8f9;
  --list-color: #454f66;
  --h1-size: 68px;
  --h2-size: 52px;
  --h3-size: 24px;
  --h4-size: 18px;
  --h5-size: 16px;
}

.container {
  max-width: 1316px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
}
img {
  display: block;
  max-width: 100%;
}
h1,
.h1 {
  font-size: var(--h1-size);
}

h2,
.h2 {
  font-size: var(--h2-size);
}

h3,
.h3 {
  font-size: var(--h3-size);
}

h4,
.h4 {
  font-size: var(--h5-size);
}

h5,
.h5 {
  font-size: var(--h5-size);
}

.btn {
  padding: 18px 24px 14px;
  text-decoration: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
}

.btn-primary {
  gap: 20px;
  background-color: var(--secondary);
  color: var(--white);
}

.btn-secondary {
  gap: 20px;
  background-color: transparent;
  border: 1px solid var(--primary-100);
  color: var(--primary-100);
}
.btn-arrow-right {
  width: 26px;
  height: 16px;
}
.btn-secondary:hover {
  background-color: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
}
.btn-secondary-white {
  background-color: transparent;
  border: 1px solid #a0acbd;
  color: var(--white);
}
.btn-secondary-white:hover {
  background-color: var(--white);
  color: var(--primary);
}
.sub-heading {
  margin-bottom: 32px;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.sub-heading-left::after,
.sub-heading-right::before {
  content: "";
  width: 48px;
  height: 1px;
  background-color: var(--secondary);
}
@media only screen and (max-width: 1023.99px) {
  .xxl-none {
    display: none;
  }
  h1,
  .h1 {
    font-size: 52px;
  }

  h2,
  .h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767.99px) {
  .xl-none {
    display: none;
  }
  body {
    font-size: 16px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 575.99px) {
  .sm-none {
    display: none;
  }
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }
  h3,
  .h3 {
    font-size: 20px;
  }
}
