header {
  padding-block: 32px;
  background-color: var(--primary);
}
.header-content-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo-content {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo-wrapper img {
  height: 100%;
  width: 100%;
}

.header-list-content {
  display: flex;
  gap: 28px;
}

.header-list-item {
  display: flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  position: relative;
  gap: 8px;
}
.header-list-item > a {
  color: currentColor;
  text-decoration: none;
}
ul.header-list-content > li.header-list-item:hover,
.header-list-item:hover .header-list-icon {
  color: var(--secondary);
}

.header-list-icon {
  display: flex;
  gap: 8px;
  height: fit-content;
  color: var(--white);
  transition: all 0.5s ease-in-out;
}
.header-list-icon svg {
  width: 24px;
  aspect-ratio: 1;
}

.header-list-menu {
  position: absolute;
  bottom: 0px;
  max-width: 700px;
  width: max-content;
  max-height: 400px;
  transform: translateY(106%) translateX(-35%) skew(10deg);
  background-color: var(--white);
  padding: 40px;
  border-radius: 12px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.header-list-menu-item {
  color: var(--list-color);
  line-height: 1;
  transition: all 0.5s ease-in-out;
}
.header-list-menu-item:hover {
  color: var(--secondary);
}
.header-list-menu-item > a {
  text-decoration: none;
  color: currentColor;
}
.header-list-menu-content {
  list-style: none;
}
.header-list-menu-content .header-list-menu-item:not(:last-child) {
  margin-bottom: 16px;
}
.header-btn-content {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header-link {
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.header-link:hover {
  transition: all 0.5s ease-in-out;
  color: var(--secondary);
}

/* hero section */
.hero-sec {
  padding-top: 33px;
  background-color: var(--primary);
}
.hero-wrapper {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(2, 1fr);
}

.hero-title {
  color: var(--white);
  font-weight: 600;
  line-height: 1.118;
  margin-bottom: 12px;
}
.hero-richtext {
  margin-bottom: 40px;
}
.hero-richtext * {
  font-weight: 400;
  color: var(--white);
  line-height: 1.67;
}

.hero-btn-group {
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 0.5px solid var(--white);
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.hero-icon-content {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.hero--icon-title {
  color: var(--white);
  font-weight: 500;
  line-height: 1;
}
.hero-icon-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}
.hero-icon {
  color: var(--white);
  display: inline-block;
  text-decoration: none;
}
.hero-icon:hover {
  color: var(--secondary);
}
.hero-icon svg {
  transition: all 0.5s ease-in-out;
  fill: var(--white);
  height: auto;
  width: 24px;
  aspect-ratio: 1;
}
.logo-sider-sec {
  padding-block: 80px;
}
@media only screen and (min-width: 1024px) {
  .menu-content {
    display: none;
  }
  .header-list-item {
    flex-wrap: nowrap;
  }
  .logo-wrapper {
    max-width: 178px;
    height: 30px;
    width: 100%;
  }
  .header-list-item:hover .header-list-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(106%) translateX(-35%) skew(0deg);
  }
  .header-list-item:hover .header-list-icon {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 1023.99px) {
  header {
    padding-block: 20px;
  }
  .logo-wrapper {
    max-width: 133px;
    width: 100%;
  }
  .header-content-wrapper {
    gap: 10px;
  }

  .menu-content {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .menu-btn {
    background-color: var(--secondary);
    height: auto;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    justify-content: center;
    cursor: pointer;
  }
  .menu-line {
    width: 20px;
    height: 3px;
    background-color: var(--white);
    transition: all 0.5s ease-in-out;
  }

  header {
    position: relative;
  }
  .header-list .header-list-icon {
    color: var(--list-color);
  }

  .header-list {
    background-color: var(--bg-color-2);
    top: var(--header-height);
    left: 0;
    width: 100%;
    position: absolute;
    padding-inline: 24px;
    padding-block: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    display: grid;
    grid-template-rows: 0fr;
    z-index: 9;
  }

  .header-list-content {
    overflow: hidden;
  }
  .header-list.active {
    padding-block: 24px 40px;
    grid-template-rows: 1fr;
  }

  .header-list-content {
    flex-direction: column;
  }

  .header-list-item {
    color: var(--list-color);
    flex-wrap: wrap;
  }

  .header-list-item.active .header-list-icon {
    transform: rotate(180deg);
  }

  .header-list-menu {
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    visibility: visible;
    position: static;
    padding: 0px 20px;
    gap: 16px;
    transform: translateY(0%) translateX(0%);
  }

  .header-list-wrapper {
    display: grid;
    width: 100%;
    grid-template-rows: 0fr;
    transition: all 0.5s ease-in-out;
  }

  .header-list-item.active .header-list-menu {
    padding: 20px;
  }
  .header-list-item.active .header-list-wrapper {
    grid-template-rows: 1fr;
    margin-top: 20px;
  }

  .menu-btn.active .menu-line-2 {
    opacity: 0;
  }
  .menu-btn.active .menu-line-1 {
    transform: translate(0px, 7px) rotate(45deg);
  }
  .menu-btn.active .menu-line-3 {
    transform: translate(0px, -5px) rotate(-45deg);
  }
  .header-link {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 767.99px) {
  .hero-sec {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .hero-wrapper {
    gap: 28px;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-icon-content {
    gap: 10px;
    margin-bottom: 40px;
  }

  .hero-btn-group {
    flex-wrap: wrap;
  }
  .hero-wrapper {
    gap: 50px;
  }
}
@media only screen and (max-width: 575.99px) {
  .hero-icon-content {
    flex-direction: column;
  }
  .hero-richtext {
    margin-bottom: 34px;
  }
  .hero-sec {
    padding-top: 40px;
  }

  .hero-icon-content {
    gap: 16px;
    align-items: flex-start;
  }
  .hero-icon svg {
    width: 18px;
  }
  .hero-btn-group {
    gap: 16px;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
  .header-list-content {
    gap: 12px;
  }
  .hero-icon-content {
    margin-bottom: 0px;
  }
}
