* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  font-size: 18px;
}

:root {
  --font: "Poppins", sans-serif;
  --header-height: 0px;
  --black: #000000;
  --white: #ffffff;
  --primary: #2f327d;
  --primary-100: #f48c06;
  --secondary: #65daff;
  --bg-color-1: #fff3e4;
  --h1-size: 40px;
  --h2-size: 34px;
  --h3-size: 24px;
  --h4-size: 18px;
  --h5-size: 16px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
}
h1,
.h1 {
  font-size: var(--h1-size);
}

h2,
.h2 {
  font-size: var(--h2-size);
}

h3,
.h3 {
  font-size: var(--h3-size);
}

h4,
.h4 {
  font-size: var(--h5-size);
}

h5,
.h5 {
  font-size: var(--h5-size);
}

.btn {
  position: relative;
  text-decoration: none;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-radius: 30px;
  font-weight: 400;
  text-align: center;
  min-width: 130px;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  padding: 16px 32px;
}

.btn-primary {
  background-color: var(--primary-100);
  color: var(--white);
}

.btn-primary::after,
.btn-secondary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease-in-out;
}

.btn-primary::after {
  background-color: var(--secondary);
}

.btn-secondary::after {
  background-color: var(--black);
}

.btn-primary:hover {
  color: var(--black);
}

.btn-primary:hover:after,
.btn-secondary:hover:after {
  transform: skewX(-45deg) scale(1.2, 1);
}

.btn-secondary {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--white);
  color: #7e7e7e;
}
.btn-secondary:hover {
  color: var(--white);
}

.btn-outline {
  gap: 10px;
  background-color: transparent;
  color: var(--primary-100);
  border: 1px solid var(--primary-100);
}

.theme-text-color {
  color: var(--primary);
}
.theme-text-color span {
  color: var(--primary-100);
}
@media only screen and (max-width: 1023.99px) {
  .xxl-none {
    display: none;
  }
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 767.99px) {
  h3,
  .h3 {
    font-size: 20px;
  }
  .xl-none {
    display: none;
  }
  body {
    font-size: 16px;
  }
  h2,
  .h2 {
    font-size: 24px;
  }
  btn-secondary {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
  }
}
