header {
  padding-block: 40px;
  position: relative;
}
.brand-logo {
  max-width: 150px;
}
.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-item-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.list-wrapper {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}
.list-wrapper .list-item > a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: var(--black);
}
.list-wrapper .list-item > a:hover {
  color: var(--primary-100);
}
.header-btn-group {
  display: flex;
  gap: 20px;
}
@media only screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
}
@media only screen and (max-width: 1023.99px) {
  header {
    padding-block: 14px;
  }

  .header-content {
    position: absolute;
    background-color: color-mix(in srgb, var(--white) 40%, transparent);
    backdrop-filter: blur(50px);
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 0fr;
  }
  .header-item-wrapper {
    flex-direction: column;
  }
  .header-btn-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .brand-logo img {
    max-height: 72px;
  }
  .menu-btn {
    background-color: var(--primary-100);
    border-radius: 50%;
    padding: 18px 17px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }
  .menu-line {
    display: inline-block;
    width: 17px;
    height: 3px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
  }
  .list-wrapper {
    flex-direction: column;
  }
  .menu-btn.active .menu-line-1 {
    transform: translate(0px, 7px) rotate(45deg);
  }
  .menu-btn.active .menu-line-2 {
    opacity: 0;
  }
  .menu-btn.active .menu-line-3 {
    transform: translate(0px, -5px) rotate(-45deg);
  }
}
@media only screen and (max-width: 767.99px) {
}
@media only screen and (max-width: 575.99px) {
}
