* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 9;
  display: block;
  top: 0;
  padding-block: 50px;
  width: 100%;
  /* transition: background-color 0.5s ease-in-out; */
  transition: all 0.3s ease-in-out;
}

header.active {
  padding-block: 8px;
  background-color: var(--bg-color-1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 7px 13px 0px;
}

.richtext * {
  color: #71718b;
  line-height: 1.8;
}

.brand-logo {
  max-width: 120px;
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-item-wrapper {
  display: flex;
  gap: 64px;
  align-items: center;
}

.list-wrapper {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}

.list-wrapper .list-item > a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 400;
  color: #5f5c6d;
}

.list-wrapper .list-item > a:hover {
  color: var(--primary-100);
}

.header-btn-group {
  display: flex;
  gap: 30px;
}

/* footer */
footer {
  background-color: var(--primary-200);
  padding-block: 75px 50px;
}

.footer-logo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 100px;
}
.footer-logo {
  max-width: 160px;
  padding-right: 40px;
  border-right: 2px solid #31324e;
}

.footer-logo-title {
  font-weight: 500;
  color: var(--white);
}
.footer-input-content {
  margin-bottom: 100px;
}
.footer-input-label {
  color: #b2b3cf;
  text-align: center;
  display: block;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}

.footer-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-input {
  padding: 14px 30px;
  color: var(--white);
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #66677e;
  background-color: transparent;
  display: inline-block;
  max-width: 400px;
  width: 100%;
}

.footer-input::placeholder {
  color: #66677e;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  display: inline-block;
}

.footer-btn {
  position: relative;
  border: none;
  color: var(--white);
  padding: 14px 24px;
  border-radius: 30px;
  background-color: #3940cf;
  font-size: 18px;
  font-weight: 500;
}
.footer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  margin-bottom: 28px;
}
.footer-list-item:not(:first-child) {
  padding-left: 20px;
  border-left: 2px solid #31324e;
}
.footer-list-link {
  text-decoration: none;
  color: #b2b3cf;
  font-weight: 400;
}
.footer-bottom-text {
  font-weight: 400;
  color: #b2b3cf;
  text-align: center;
}
/* hero section */
.hero-sec {
  padding-top: calc(var(--header-height) + 100px);
  clip-path: ellipse(120% 100% at 50% 0%);
  /* border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px; */
  background-color: var(--bg-color-1);
}

.hero-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
/* .hero-content {
width: 40%;
}
.hero-img {
width: 60%;
} */
.hero-hedding {
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-richtext {
  max-width: 430px;
  margin-bottom: 20px;
}
.service-card-hedding-richtext {
  max-width: 600px;
  margin-inline: auto;
}
.hero-richtext * {
  color: var(--black);
  line-height: 1.7;
  font-weight: 400;
  opacity: 0.6;
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 26px;
}
.hero-playBtn-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

.hero-playBtn-wrapper:hover .hero-playBtn,
.two-col-1-playBtn:hover {
  background-color: var(--black);
  color: var(--white);
}

.hero-playBtn {
  transition: all 0.5s ease-in-out;
  background-color: var(--white);
  color: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: auto;
  aspect-ratio: 1;
  align-items: center;
  width: 66px;
}
.hero-playBtn svg {
  width: 28px;
  aspect-ratio: 1;
}
.playBtn-text {
  color: var(--black);
  line-height: 1.1;
}

/* logo-sec */
.logo-sec {
  padding-block: 112px;
}
.logo-title {
  margin-bottom: 40px;
  text-align: center;
  color: #87879d;
  font-weight: 500;
}
.logo-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 75px;
}

.logo-icon {
  max-width: 160px;
  height: 40px;
}
.logo-icon img {
  width: 100%;
  height: 100%;
}

/* service-card/ */
.service-card-sec {
  padding-block: 100px;
}
.service-card-header {
  text-align: center;
  margin-bottom: 77px;
}
.service-card-hedding {
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 600;
}
.service-card-hedding-richtext * {
  color: var(--black);
  line-height: 1.7;
  font-weight: 400;
  opacity: 0.6;
}
.service-card-wrappar {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}
.service-card {
  padding: 40px;
  padding-top: 0px !important ;
  text-align: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.service-card-icon {
  margin-inline: auto;
  margin-bottom: 60px;
  --service-icon-width: 78px;
  margin-top: calc(var(--service-icon-width) * -1 / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: #5b72ee;
  border-radius: 50%;
  aspect-ratio: 1;
  width: var(--service-icon-width);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.service-card-icon img,
.service-card-icon svg {
  height: auto;
  aspect-ratio: 1;
  width: 46%;
}
.service-card-title {
  color: var(--primary);
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 20px;
}
.service-card-richtext p {
  color: var(--richtext-color);
  line-height: 1.8;
  font-size: 16px;
}
.service-card-wrappar .service-card:nth-child(2) .service-card-icon {
  background-color: var(--primary-100);
}
.service-card-wrappar .service-card:nth-child(3) .service-card-icon {
  background-color: var(--secondary);
}

/* card-two-col-sec */
.card-two-col-sec {
  padding-block: 100px;
}
.card-two-col-header {
  text-align: center;
  margin-bottom: 50px;
}
.card-two-col-heading {
  font-weight: 600;
  margin-bottom: 20px;
}
.card-two-col-richtext {
  max-width: 800px;
  margin-inline: auto;
}
.card-two-col-richtext * {
  color: var(--richtext-color);
  line-height: 1.7;
  font-weight: 400;
}

.two-col-card-wrappar {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}
.two-col-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 400px;
  height: 100%;
  border-radius: 20px;
}
.two-col-card-title {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.2;
}
.two-col-card-btn {
  display: inline-block;
  color: var(--white);
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  border: 1px solid var(--white);
}
.two-col-card-btn:hover {
  border-color: transparent;
  background-color: color-mix(in srgb, var(--secondary) 60%, transparent);
}
/* two-column-1 */
.two-column-1 {
  padding-block: 100px;
}
.two-column-1-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}
.two-column-1-items {
  max-width: 570px;
}
.two-column-1-title {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
  z-index: 0;
}
.two-column-1-title::after {
  content: "";
  background-color: #f4b767;
  position: absolute;
  top: -9%;
  left: -3%;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 10%;
  z-index: -1;
  opacity: 0.8;
}
.two-column-1-richtext {
  margin-bottom: 30px;
  position: relative;
}
.two-column-1-richtext::after {
  content: " ";
  background-color: #f4b767;
  position: absolute;
  top: 50%;
  right: -3%;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 4%;
  z-index: -1;
  opacity: 0.8;
}
.two-column-1-richtext * {
  color: var(--richtext-color);
  line-height: 1.8;
  font-size: 20px;
}
.two-column-1-link {
  text-decoration: underline;
  color: var(--richtext-color);
  transition: all 0.3s ease-in-out;
}
.two-column-1-link:hover {
  color: var(--primary-100);
  transition: all 0.3s ease-in-out;
}
.two-column-1-img {
  padding: 24px;
  position: relative;
}
.two-column-1-img img {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.two-col-1-playBtn {
  position: absolute;
  z-index: 3;
  inset: 0px;
  margin: auto;
  transition: all 0.5s ease-in-out;
  background-color: var(--white);
  color: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  align-items: center;
  width: 10.5%;
}
.two-col-1-playBtn svg {
  aspect-ratio: 1;
  width: 43%;
}
.two-column-1-img-wrapper {
  position: relative;
}
.two-column-1-img::after {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: var(--primary-100);
  aspect-ratio: 1;
  border-radius: 20px;
  height: 62%;
}
.two-column-1-img::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--secondary);
  aspect-ratio: 1;
  border-radius: 20px;
  height: 30%;
}
/* two-column-2 */
.two-column-2 {
  padding-block: 100px;
}

.two-col-2-header {
  text-align: center;
  margin-bottom: 100px;
}

.two-col-2-header-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}
.two-col-2-header-richtext * {
  color: var(--richtext-color);
  font-weight: 400;
  line-height: 1.7;
}

.two-col-2-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 70px;
}

.two-col-2-images {
  width: 60%;
  position: relative;
}

.two-col-2-images img {
  position: relative;
  z-index: 2;
}

.two-col-2-circle-1 {
  position: absolute;
  z-index: 0;
  top: -14%;
  left: 7%;
  background-color: #33efa0;
  aspect-ratio: 1;
  height: 27%;
  border-radius: 50%;
}

.two-col-2-circle-1::after {
  content: " ";
  top: 0;
  right: -27%;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  height: 20%;
  background-color: #33d8ef;
}
.two-col-2-circle-2 {
  position: absolute;
  z-index: 0;
  bottom: 2%;
  right: 10%;
  background-color: #565cdf;
  aspect-ratio: 1;
  height: 44%;
  border-radius: 50%;
}
.two-col-2-circle-2::after {
  content: " ";
  bottom: 0;
  left: -8px;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  height: 12%;
  background-color: #f56666;
}
.two-col-2-content {
  width: 40%;
}

.two-col-2-title {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 40px;
}

.two-col-2-list .two-col-2-item:not(:last-child) {
  margin-bottom: 40px;
}

.two-col-2-item {
  display: flex;
  gap: 30px;
}

.two-col-2-icon {
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  aspect-ratio: 1;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-col-2-icon img {
  aspect-ratio: 1;
  height: auto;
  width: 50%;
}

.two-col-2-list-text {
  color: #71718b;
  align-self: center;
  line-height: 1.8;
}

/* two-column-3  */
.two-column-3 {
  padding-block: 100px;
}

.two-col-3-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two-col-3-content {
  width: 33%;
}

.two-col-3-images-wrapper {
  width: 50%;
  position: relative;
}

.two-col-3-title {
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 18px;
}
.two-col-3-images-main {
  position: relative;
  margin-inline: auto;
  max-width: 58.4%;
  max-height: 620px;
  z-index: 8;
}

.two-col-3-images-main img {
  width: 100%;
  height: 100%;
}

.two-col-3-images-main::before {
  content: "";
  background-color: #ff6a6a;
  position: absolute;
  aspect-ratio: 1;
  top: 11%;
  left: 18%;
  width: 54%;
  margin-inline: auto;
  z-index: -1;
  border-radius: 50%;
}

.two-col-3-images-back {
  position: absolute;
  width: 100%;
  height: 74%;
  inset: 0;
  object-fit: contain;
  margin-block: auto;
  z-index: 0;
}

.col-3-img-icon-wrap-1,
.col-3-img-icon-wrap-2 {
  aspect-ratio: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.col-3-img-icon-wrap-1 {
  height: 13%;
  position: absolute;
  z-index: 3;
}
.col-3-img-icon-wrap-2 {
  height: 74%;
}
.col-3-icon-1 {
  top: 20%;
  left: 12%;
  transform: rotate(-20deg);
}
.col-3-icon-2 {
  right: 4%;
  top: 30%;
  transform: rotate(12deg);
}
.col-3-img-icon-wrap-2 img {
  aspect-ratio: 1;
  width: 66%;
}

.two-col-3-images-dot-1,
.two-col-3-images-dot-2,
.two-col-3-images-dot-3 {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
}
.two-col-3-images-dot-1 {
  background-color: #ff9a7a;
  height: 4.8%;
  bottom: 19.3%;
  left: 0px;
}
.two-col-3-images-dot-2 {
  background-color: #6bf0a8;
  height: 3.4%;
  top: 0;
  right: 28%;
}
.two-col-3-images-dot-3 {
  background-color: #8c7aff;
  height: 4%;
  bottom: 13%;
  right: 11.5%;
}
.two-col-3-richtext * {
  color: #71718b;
  line-height: 1.8;
}

/* two-column-4 */
.two-column-4 {
  padding-block: 100px;
}

.two-col-4-images-wrapper {
  width: 50%;
}

.two-col-4-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.two-col-4-content {
  width: 33%;
}

.two-col-4-info-card {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 30px;
  margin: 6.5% 22% 7% 8%;
  max-width: 57.6%;
  position: relative;

  background-color: var(--white);
}

.col-4-icon-wrapper {
  position: absolute;
  display: flex;
  transform: rotate(43deg);
  top: 6px;
  right: -31px;
}

.two-col-4-info-card-icon {
  aspect-ratio: 1;
  width: 54px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.two-col-4-info-card-icon img {
  aspect-ratio: 1;
  height: 62%;
  display: block;
}
.col-4-icon-1 {
  transform: rotate(-42deg);
}
.col-4-icon-2 {
  transform: rotate(-55deg);
}
.two-col-4-card-content {
  padding: 30px;
  padding-bottom: 0px;
}

.two-col-4-info-tag {
  font-weight: 400;
  display: inline-block;
  line-height: 1;
  padding: 11px 25px;
  color: #7683b4;
  border-radius: 30px;
  font-size: 16px;
  background-color: #cdd8ff;
  margin-bottom: 38px;
}

.two-col-4-info-card-title {
  font-size: 26px;
  font-weight: 500;
  color: #55578d;
  margin-bottom: 34px;
}

.two-col-4-info-title {
  font-size: 26px;
  font-weight: 500;
  color: #55578d;
}

.two-col-4-card-bottom {
  position: absolute;
  padding: 23px 30px;
  bottom: -4.6%;
  right: -18.5%;
  border-radius: 14px;
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.two-col-4-card-bottom-icon {
  aspect-ratio: 1;
  width: 23.4%;
  position: relative;
  z-index: 1;
}
.two-col-4-card-bottom-icon::after {
  content: " ";
  position: absolute;
  top: 12%;
  right: 12%;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 83%;
  z-index: -1;
  background-color: #d8f9ed;
}

.two-col-4-card-bottom-icon img {
  width: 100%;
  height: 100%;
}

.two-col-4-card-bottom-title {
  font-size: 16px;
  font-weight: 500;
  color: #41be90;
  position: relative;
  z-index: 1;
}

.two-col-4-card-bottom-title::after {
  content: " ";
  position: absolute;
  bottom: -6px;
  right: -11px;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 63%;
  z-index: -1;
  background-color: #d8f9ed;
}

.two-col-4-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 200px;
  border-radius: 12px;
  transform: translateX(30px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.two-col-4-title {
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 18px;
}

.two-col-4-richtext * {
  color: #71718b;
  line-height: 1.8;
}

.two-col-4-card-back {
  position: absolute;
  top: -2.6%;
  left: -10%;
  z-index: -1;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 21.5%;
  background-color: #677df1;
}

.two-col-4-card-back::after {
  content: " ";
  position: absolute;
  top: -26%;
  right: -42%;
  background-color: #f3a268;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 24%;
}

.two-col-4-card-dot-1 {
  background-color: #34e6a4;
  position: absolute;
  aspect-ratio: 1;
  z-index: -1;
  height: 16px;
  border-radius: 50%;
  bottom: -33px;
  left: -10px;
}

.two-col-4-card-dot-2 {
  background-color: #e95f95;
  position: absolute;
  aspect-ratio: 1;
  z-index: -1;
  height: 14px;
  border-radius: 50%;
  top: 240px;
  right: -66px;
}

/* two-col-5 */
.two-column-5 {
  padding-block: 100px;
}

.two-col-5-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.two-col-5-content {
  width: 50%;
}

.two-col-5-images-wrapper {
  width: 50%;
  position: relative;
}

.two-col-5-title {
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 18px;
}
.two-col-5-richtext {
  max-width: 450px;
}

.col-5-img-icon-wrap-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: color-mix(in srgb, var(--white) 25%, transparent);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 20.8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-5-img-icon-wrap-2 {
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-5-img-icon-wrap-2 img {
  aspect-ratio: 1;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .menu-btn-group {
    display: none;
  }
  .logo-sider .splide__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1279.99px) {
  .service-card-wrappar {
    gap: 30px;
  }

  .service-card {
    padding: 40px 20px;
  }

  .two-col-card-wrappar {
    gap: 50px;
  }

  .two-col-2-wrapper {
    gap: 30px;
  }

  .two-col-2-item {
    gap: 20px;
  }

  .two-col-2-list .two-col-2-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .two-col-3-wrapper {
    gap: 40px;
  }

  .two-col-3-content {
    width: 50%;
  }
}

@media only screen and (max-width: 1023.99px) {
  header {
    padding-block: 14px;
  }

  .header-content {
    position: absolute;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: var(--white);
    top: 100%;
    left: 0;
    width: 100%;
    padding-inline: 20px;
    flex-direction: column;
    display: grid;
    width: 100%;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .header-item-wrapper {
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
  }

  .header-btn-group {
    display: none;
  }

  .menu-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-btn-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-btn-list {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .menu-btn {
    background-color: var(--primary-100);
    border-radius: 50%;
    padding: 18px 17px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }

  .menu-line {
    display: inline-block;
    width: 16px;
    height: 3px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
  }
  .list-wrapper {
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
  }
  .header-content.active {
    padding-block: 20px;
    grid-template-rows: 1fr;
  }
  .menu-btn.active .menu-line-1 {
    transform: translate(0px, 7px) rotate(-45deg);
  }
  .menu-btn.active .menu-line-2 {
    opacity: 0;
  }
  .menu-btn.active .menu-line-3 {
    transform: translate(0px, -5px) rotate(45deg);
  }
  .hero-sec {
    clip-path: ellipse(174% 100% at 50% 0%);
  }
  .logo-icon-wrapper {
    gap: 30px 50px;
  }
  .service-card-wrappar {
    gap: 64px 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-card-title {
    font-size: 24px;
  }
  .two-col-card-btn {
    padding: 15px 30px;
    font-size: 16px;
  }
  .two-column-1-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .two-column-1-items {
    max-width: 100%;
  }
  .two-column-1-richtext::after {
    right: 0;
  }
  .two-column-1-title::after {
    top: -9%;
    left: -2%;
    width: 6%;
  }
  .two-column-1-img {
    padding: 16px;
  }
  .two-column-1-img img {
    aspect-ratio: 1/0.5;
  }
  .two-column-1-richtext * {
    line-height: 1.8;
    font-size: 18px;
  }
  .two-column-1-title {
    position: relative;
    font-size: 26px;
  }
  .two-col-2-list .two-col-2-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .two-col-2-wrapper {
    padding-top: 0;
    flex-direction: column-reverse;
  }
  .two-col-2-images,
  .two-col-2-content {
    width: 100%;
  }
  .two-col-2-images {
    padding-top: 8.6%;
  }
  .two-col-2-circle-1 {
    top: 0;
  }
  .two-col-3-wrapper {
    flex-direction: column;
  }
  .two-col-3-content {
    width: 100%;
  }
  .two-col-3-images-wrapper {
    width: 80%;
  }
  .two-col-4-wrapper {
    flex-direction: column-reverse;
  }
  .two-col-4-content {
    width: 100%;
  }
  .two-col-4-images-wrapper {
    width: 100%;
  }
  .two-col-4-info-card {
    max-width: 74.6%;
  }
  .two-col-4-card-content {
    padding: 22px;
    gap: 10px;
    padding-bottom: 0;
  }
  .two-col-4-img {
    transform: translateX(22px);
  }
  .two-col-4-card-bottom-icon {
    width: 18.4%;
  }
  .two-col-5-wrapper{
    flex-direction: column;
  }
}

@media only screen and (max-width: 767.99px) {
  .brand-logo {
    max-width: 90px;
  }
  .menu-btn {
    padding: 12px;
  }
  .hero-sec {
    clip-path: ellipse(191% 100% at 50% 0%);
  }
  .hero-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-btn-wrapper {
    flex-wrap: wrap;
  }
  .md-w-full {
    width: 100% !important;
  }
  .header-btn-group {
    flex-direction: column;
    gap: 20px;
  }

  .header-btn-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .header-btn-list {
    display: none;
  }
  .service-card-sec {
    padding-block: 60px;
  }
  .service-card-wrappar {
    gap: 64px 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-two-col-sec {
    padding-block: 60px;
  }
  .card-two-col-header {
    margin-bottom: 30px;
  }
  .card-two-col-heading {
    margin-bottom: 10px;
  }
  .two-col-card-wrappar {
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
  .two-col-card {
    min-height: 300px;
  }
  .logo-icon-wrapper {
    gap: 30px;
  }
  .two-column-1-title::after {
    top: 2%;
    left: -2%;
    width: 8%;
  }
  .two-col-4-info-card-title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .two-col-4-info-tag {
    margin-bottom: 16px;
  }
  .two-col-4-card-bottom {
    position: absolute;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 575.99px) {
  .two-col-card {
    min-height: 260px;
  }
  .footer-logo-content {
    gap: 20px;
    margin-bottom: 50px;
  }
  footer {
    padding-block: 44px 50px;
  }
  .footer-logo {
    padding-right: 20px;
  }
  .footer-list {
    gap: 10px 20px;
  }
  .footer-input-wrapper {
    flex-wrap: wrap;
  }
  .footer-input::placeholder {
    font-size: 16px;
  }
  .footer-input {
    font-size: 16px;
    max-width: 100%;
  }
  .footer-btn {
    width: 100%;
    font-size: 16px;
  }
  .footer-input-content {
    margin-bottom: 60px;
  }
  .two-column-1-img {
    padding: 10px;
  }
  .two-col-4-card-bottom-title {
    font-size: 14px;
  }
}
